chardet==2.3.0
cycler==0.10.0
decorator==4.0.6
Django==1.8.7
dj-static==0.0.6
dj-database_url==0.3.0
psycopg2==2.6.1
Pillow==2.8.2
static3==0.7.0
gunicorn==19.6.0
functools32==3.2.3.post2
ipython==2.4.1
matplotlib==2.0.2
mpmath==1.0.0
numpy==1.13.3
pexpect==4.0.1
ptyprocess==0.5
Pygments==2.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
pyzmq==15.2.0
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.1.18
subprocess32==3.2.7
sympy==1.1.1
