{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block title %}{% if shoppingcart|length > 0 %}Checkout{% else %}Error- Add products to your cart{% endif %}{% endblock %}

{% block header %}Checkout{% endblock %}

{% block shoppingcart %}{% endblock %}

{% block main %}
   <div class="main-content">

       <!--TODO annadir parte de la izq de la URL-->

       {% if shoppingcart|length > 0 %}
       Add products to your cart.
       {% else%}
           <form class="detail-form" method="post" action={% url 'createOrder' product.id %}>
              {% for field in form.visible_fields %}
                {{ field.errors }}
                   {{ field.label_tag }} {{ field }}
               {% endfor %}
               {% csrf_token %}
                   {% for hidden in form.hidden_fields %}
                   {{ hidden }}
               {% endfor %}
              <input class="psbutton" type="submit" name="Checkout" value="Checkout"/>
           </form>
       {% endif %}
   </div>

{% endblock %}
