{% load staticfiles %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/mycss.css" %}">
{% endblock extra_css %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shop - {% block title %}Base{% endblock %}</title>
    </head>

    <body>
    	<header> 
    		<div id="basket">
        	    {% block shoppingcart %}Nothing so far{% endblock %}
            </div>
    		{% block header %}Shop{% endblock %}
    		
    	</header>

        <div>
            {% block main %}Nothing so far{% endblock %}
        </div>

    </body>
</html>
