{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block title %}{% if product %}{{product.prodName}}{% else %}Error{% endif %}{% endblock %}

{% block header %}<h1 class="title">Product detail</h1>{% endblock %}
   
{% block shoppingcart %}Your cart is empty {% endblock %}

{% block main %}
   <div class="main-content">
   		{% if product %}
   			<img class="big-image" src="{{ MEDIA_URL }}{{product.image}}" alt="{{product.prodName}}">
   			<h2>Name: {{product.prodName}}</h2>
   			<h3><a href="{% url 'product_list_by_category' product.category.catSlug %}">
   			Category: {{product.category.catName}}</a></h3>
   			<p class="description">{{product.description}}</p>   			
   			<h2>{{product.price}}&euro;</h2>
   			
   		{% else %}
   			<h2>An error has occurred...</h2>
   		{% endif %}   		
		
   </div>
   
{% endblock %}
